
#newTablero {
  background-color:lime;
  width: 512px;
  height: 512px;
  /* top : 150px; */
  border-radius: 15px;
  align-content: center;

}

#newTablero div{
  background-color:white;
  position:absolute;
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 50px;
}
#pScore{
  font-size: 30px;
  font-style: italic;
}
#divScore p{
    font-size: 30px;
}
